<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="{{ asset('css/style2.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>
<body>
<ul class="menu-bar">
  <li><a href="/student">Student</a></li>
  <li><a href="/school">School</a></li>
  <li><a href="/internship">Internship</a></li>
  <li><a href="/internship-report">Internship Report</a></li>
  <li><a href="/company">company</a></li>
  <li>
    {% if app.user %}
        <a href="/profile">{{ app.user.firstName }}</a>  {# Utilisez firstName en camelCase #}
    {% else %}
        <a href="/login">Login</a>
    {% endif %}
  </li>

</ul>

</body>
</html>
