{% extends 'base.html.twig' %}

{% block title %}Nouveau rapport de stage{% endblock %}

{% block body %}
    <div class="container">
        <h1>Nouveau rapport de stage</h1>
        <h4 class="text-muted mb-4">Stage : {{ internship.title }}</h4>

        {% include 'internship/_form_report.html.twig' with { form: form, button_label: 'Créer le rapport' } %}
    </div>
{% endblock %}
