<form method="post" action="{{ path('app_company_delete', {'id': company.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette entreprise ?');" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ company.id) }}">
    <button class="btn btn-danger w-100">
        <i class="fas fa-trash-alt me-1"></i> Supprimer
    </button>
</form>
