{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.contenu) }}
        <button type="submit">Envoyer</button>
    {{ form_end(form) }}

    <script>
        tinymce.init({
            selector: '.tinymce', // Ciblez la classe définie dans le formulaire
            plugins: 'advlist autolink lists link image charmap print preview anchor',
            toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat',
            height: 500
        });
    </script>
{% endblock %}
