{% extends 'base.html.twig' %}

{% block title %}Edit IntershipReportEntity{% endblock %}

{% block body %}
    <h1>Edit IntershipReportEntity</h1>

    {{ include('internship_report/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_internship_report_index') }}">back to list</a>

    {{ include('internship_report/_delete_form.html.twig') }}
{% endblock %}
