<form method="post" action="{{ path('app_school_delete', {'id': school.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette école ?');" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ school.id) }}">
    <button class="btn btn-danger w-100">
        <i class="fas fa-trash-alt me-1"></i> Supprimer
    </button>
</form>
